*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b4f2e1;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

div{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    background: lightgoldenrodyellow;
    padding: 25px;
    border-radius: 30px; 
}














/* styling for the inline styling may till vid 16 */


/* .heading{
    color: #fa9191;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: 0px 2px 4px #ffe9c5;
    margin: 70px 0;
    font-family: 'Poppins', sans-serif;
}
.img_div{
    display: flex;
    justify-content: center;
}

.img_div img{
    width: 250px;
    height: 300px;
    margin: auto;
} */

